[2022-07-27 13:34] kevinsung opened #1 "Add global phase gate to Qiskit Terra"
### Description

A gate that introduces a global phase. See https://github.com/Qiskit/qiskit-terra/issues/8236.

### Deliverables

Fix https://github.com/Qiskit/qiskit-terra/issues/8236.

### Mentors details

- Mentor 1
  - Name: Kevin Sung
  - GitHub ID: kevinsung
  - What they do: Qiskit Researcher

### Number of mentees

1

### Type of mentees

- Mentee 1
  - Required:
    - Basic knowledge of

[2022-08-02 15:29] t-imamichi opened #2 "Add Scipy MILP solver to Qiskit optimization"
### Description

The latest Scipy 1.9.0 introduced a mixed integer linear programming (MILP) solver. This project aims at developing a classical optimizer for Qiskit Optimization based on the Scipy MILP solver.

Note: this project might be fully "classical" project. No quantum might be involved.

References:
- [Scipy 1.9.0 release note](https://docs.scipy.org/doc/scipy/release.1.9.0.html#highlight

[2022-08-02 17:11] derek-wang-ibm opened #3 "Implement virtual distillation, an error mitigation technique, in Qiskit"
### Description

Quantum error mitigation is ["the continuous path that will take us from today's quantum hardware to tomorrow's fault-tolerant quantum computers"](https://research.ibm.com/blog/gammabar-for-quantum-advantage). Error mitigation reduces the effects of noise to achieve the best performance with today's near-term intermediate-scale quantum (NISQ) devices. Several error mitigation tech

[2022-08-02 21:12] alirezaseif-ibm opened #4 "Implementing generalized measurements with mid-circuit measurements"
### Description

Positive operator valued measures (POVMs) describe generalized quantum measurements. They are useful for efficient extraction of information in quantum information processing tasks. These measurements can be implemented using Neumark extension by coupling the system to another auxiliary system that is typically of the same size and performing a projective measurement on the extend

[2022-08-04 11:16] eggerdj opened #5 "Pulse backend in qiskit experiments"
### Description

Qiskit Experiments (QE) is a framework that allows users to easily run experiments to, for example, calibrate or characterize the pulses that implement a quantum gate. QE provides a library of experiments to perform these tasks (fine amplitude calibration, drag, etc...). Currently, each experiment is tested using a fake backend that hard-codes the experimental response of a real b

[2022-08-05 13:33] robertloredo opened #6 "Quantum fMRI analysis"
### Description

Functional magnetic resonance imaging (fMRI) and magnetic resonance imaging (MRI) are techniques that allow soft tissue and blood to be represented as images. In this project we will be looking at ways to represent the fMRI information and determine innovative ways to analyze the information from an open-source data repository of controlled centers. Analysis can include determinin

[2022-08-08 09:07] adekusar-drl opened #7 "A Qiskit tutorial that covers UnitarySyntheisPlugin and Approximate Quantum Compiler as an implementation"
### Description

### Description

Recently a new extension was introduced in Qiskit's transpiler - a unitary synthesis plugin API (https://qiskit.org/documentation/apidoc/transpiler_plugins.html). This API provides a hook point for external python packages to implement their own synthesis techniques and have them seamlessly exposed as opt-in options to users when they run. The aim of this project

[2022-08-08 09:18] adekusar-drl opened #8 "Improve documention in Qiskit Machine Learning"
### Description

In this project we will study Qiskit Machine Learning: explore the tutorials, try to run the algorithms available in the package, validate the documentation available on the web site and finally we'll try to find gaps in the existing documentation. The idea here is to re-read the documentation once a mentee is familiar with the topic and try to figure out what can be improved. Per

[2022-08-08 10:32] adekusar-drl opened #9 "Explore kernel based algorithms and extend the QuantumKernel tutorial"
### Description

In this project we will explore applicability of quantum kernels in various classical algorithms. Quantum kernel itself is already implemented in Qiskit Machine Learning, there's a thin wrapper of the classical SVM from scikit-learn, thus we can solve classification and regression problems by evaluating a quantum kernel and feeding the kernel to the classical algorithms. But there

[2022-08-11 09:41] cnktysz opened #10 "Exploring expressibility of parametrized quantum circuits on IBMQ hardware"
### Description

Variational quantum algorithms employ parametrized quantum circuits (PQCs). The choice of PQC has a huge impact on the performance of the algorithm, as it determines the accessible states on the Hilbert Space. For this reason, there is a need for a methodology or a measure that can quantify the performance of PQCs. In 2019, Sim et al. proposed two measures, namely Expressibility a

[2022-08-12 20:34] poig opened #11 "[mentees propose]A quantum network simulatior open source library based on qiskit-terra backend"
### Description

The idea is to make an open source library that can simulate quantum networks like [netqasm](https://github.com/QuTech-Delft/netqasm) with the structure of [SeQUeNCe](https://github.com/sequence-toolbox/SeQUeNCe) library that based on qiskit-terra backend and having some of those interesting and useful tools that might be desirable for the researcher and also for a better educatio

[2022-08-12 20:46] AbeerVaishnav13 opened #12 "Open-source FEM solver for Qiskit Metal"
### Description

Qiskit Metal is an open-source quantum-EDA tool, developed to design superconducting microwave quantum circuits with ease. Designing such hardware usually requires starting from a circuit schematic, which is converted to a corresponding Hamiltonian representation using the principles of circuit quantum electrodynamics (cQED), and then laid out on a physical chip as a circuit layou

[2022-08-12 21:11] poig commented on #11
will reopen during the application period

[2022-08-13 14:39] zlatko-minev commented on #4
Great project and we get to work together

[2022-08-13 14:39] zlatko-minev commented on #3
Great project and we get to work together

[2022-08-13 14:46] zlatko-minev opened #13 "What is possible with quantum computers today?"
### Description

Be part of growing and dynamic research team that seeks to understand and push the boundaries of possible with quantum computers today. We will work with Qiskit and the Quantum devices, running experiments on the devices and trying various approaches to push quantum experiments, such as in quantum simulations or other fields, to the edge of what is possible in the noisy era of qua

[2022-08-14 15:12] ryanfmandelbaum opened #14 "Longform content for the Qiskit Blog"
### Description

Qiskit prides itself in running a weekly, open source blog featuring content by and for Qiskit users. The blog requires contributors in order to stay running. While much of these contributions consist of tutorial content and papers, we're also looking for creative work and to mentor writers interested in honing their science communication skills. After all, better science communic

[2022-08-15 00:36] grace-harper-ibm opened #15 "Building out Qiskit Quantum Error Correcting"
### Description

Qiskit QEC  (https://github.com/qiskit-community/qiskit-qec/issues) is an open source framework for quantum error correcting.

If you've got a **theory background**, you'd have high freedom to work on either developing your own qec modules or working on pre-existing issues that require a theory background. Example: [theory issue](https://github.com/qiskit-community/qiskit-qec/issu

[2022-08-15 08:40] nelimee opened #16 "Adding a "no-inline" option to Qiskit transpiler"
### Description

Qiskit [`QuantumCircuit`](https://qiskit.org/documentation/stubs/qiskit.circuit.QuantumCircuit.html) is able to represent the concept of subroutines (represented with instances of [`Instruction`](https://qiskit.org/documentation/stubs/qiskit.circuit.Instruction.html)), i.e., a re-usable piece of code that implements a function. But Qiskit transpiler and most of its passes are not

[2022-08-15 12:53] Cryoris opened #17 "Work on the quantum algorithm tutorials"
### Description

Qiskit implements a large number of quantum algorithms, ranging from ground and excitetd state search over time evolution to amplitude estimation. However, many algorithms lack a tutorial and it's not evident how the algorithms can be used and what all their abilities are.

As tutorials are one of the first touchpoints users have with Qiskit it's crucial they are up-to-date and co

[2022-08-15 13:01] Cryoris opened #18 "Variational, topology-aware synthesis of unitaries"
### Description

Finding a circuit that implements an arbitrary unitary is a requirement in several algorithms, such as loading random distributions/data. Several algorithms for this purpose exist, but most of them ignore the qubit topologies and become less performant once the topology is taken into account.
The goal is to implement a topology-aware synthesis, which is based stepwise composition

[2022-08-15 13:07] mtreinish opened #19 "Good first issues in rustworkx"
### Description

[rustworkx](https://github.com/Qiskit/rustworkx) is a high performance general purpose graph library for python written in Rust to take advantage of the performance and safety that Rust provides. It was originally built as a replacement for Qiskit's previous networkx usage (hence the name) but is designed to provide a high performance general purpose graph library for any python a

[2022-08-16 05:01] dsierrasosa opened #20 "QML - Cardiology Application"
### Description

Cardiology has been one of the branches of medicine where the most progress has been made in recent years. The high prevalence of cardiovascular pathologies has led to a constant development of new technologies for diagnosis and treatment. The most prevalent cardiovascular pathology is that related to the so-called coronary disease, the one that can end up causing the appearance o

[2022-08-16 07:35] ManjulaGandhi opened #21 "Developing tutorials for Quantum Machine Learning"
### Description

Aim of our project is to develop tutorials or teaching materials for Quantum Machine Learning concepts. Idea is to encourage students to work on QML and compare them with classical machine learning techniques.

### Deliverables

Develop tutorials for QML algorithms
Output will be in the form of Videos, PPTs, Jupyter notebooks, a journal/conference paper

### Mentors details

- Men

[2022-08-16 07:56] hhorii opened #22 "Develop new intrinsics for matrix multiplication of complex values in Qiskit-Aer"
### Description

Qiskit-Aer supports [SIMD-based matrix multiplication in statevector](https://github.com/Qiskit/qiskit-aer/blob/main/src/simulators/statevector/qv_avx2.cpp) by using AVX2, which is the Intel's SIMD instruction set.
In this project, we develop implementation for other platform: Apple Silicon (M1, M2) and ppc64le.

To join this project, mentees need to have M1/M2 mac or POWER linux

[2022-08-16 08:05] hhorii opened #23 "Enhancement of Aer-based `quantum_info`"
### Description

`AerStatevector` will be released in Qiskit-Aer 0.11. `AerStatevector` supports [`qiskit.quantum_info.states.Statevector`](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/quantum_info/states/statevector.py) interface with Qiskit-Aer statevector and provide much better performance than it. In this project, mentees develop more classes of `quantum_info` with Qiskit-Aer, such

[2022-08-16 10:59] sergiomtzlosa commented on #20
Hi @dsierrasosa,

I am Sergio. This seems interesting to me. Maybe, we can work together on this issue.

Thanks!

[2022-08-16 12:06] bopardikarsoham commented on #20
Hello, @dsierrasosa
Soham here. I'm really excited about this project. I would like to chat more regarding this project?

[2022-08-16 12:09] bopardikarsoham commented on #21
Hello, @ManjulaGandhi
Soham here. I'm interested in this project. Perhaps we can discuss more about this project?

[2022-08-16 13:35] pdc-quantum commented on #20
Hi, @dsierrasosa,
I am Pierre, Qiskit advocate and cardiologist. Very excited about this project, as you may figure out. And ready to work in a team.

[2022-08-16 13:35] MarcoBarroca commented on #13
I'm working on chemistry simulations with Qiskit for applications in climate and sustainability. Searching for new materials for carbon capture and batteries for instance. Can you elaborate further on any possible applications that you might be considering? I'd be interested in joining this even if it's tangentially related as I'm interested in applications.

[2022-08-16 13:56] pdc-quantum commented on #6
Hi @robertloredo,
I am very interested in this project. I was reviewing the analysis of the fMRI information. I don't immediately see how to articulate classical and quantum computing in this project (I however see a few possible ways).

[2022-08-16 13:59] dsierrasosa commented on #20
Hello Everyone! Thank you for your interest in this particular problem, we have conducted an exploratory work on this topic and it looks challenging! If you have time we could meet briefly to talk about what we have done and your expectations with this QAMP.

[2022-08-16 15:26] Christophe-pere commented on #21
Hello,
I'm interested in this project. I'm currently working on a paper where we compare ML and QML algorithms based on different encoding processes. Could we schedule a call to discuss this further?

[2022-08-16 15:28] Christophe-pere commented on #17
Hello,
I'm interested in this project. Phase and amplitude estimation are still a nightmare for me; it could be an excellent opportunity to go deeper. Could we schedule a call to discuss this further?

[2022-08-16 15:28] TigrisCallidus opened #24 "Writing an Unity Plugin for Using a Qiskit Runtime using C#"
### Description

Qiskit runtime can be used from different programming environments not only python.

To make it easier for C#/Unity developers to use, it would be great to have an Unity Plugin which can directly call some runtime programs. Just as a first example for others to copy, or to directly use this plugin.

There are different possibilities for a runtime to be used. The mentee can even wr

[2022-08-16 15:59] pdc-quantum commented on #20
Sure, I have time to devote to this topic. my local time is CEST (edited). What do you suggest for a meeting?

[2022-08-16 16:09] ElePT commented on #8
I can take over/collaborate in this project @adekusar-drl :)

[2022-08-16 16:21] vabarbosa opened #25 "Work on grading service for Textbook/Learning platform"
### Description

The Qiskit Textbook/Learning platform is a resource for learning and teaching about quantum computing. To further enhance the learning experience the platform provides multiple choice questions and coding exercises as a means to evaluate the readers grasp of the content.

The goal of this project is to build up and further improve the current grading service to make it easier for

[2022-08-16 16:23] vabarbosa commented on #25
FYI @pandasa123

[2022-08-16 16:35] sergiomtzlosa commented on #20
I would be glad to join the meeting to find out more details and decide if the issue fits to me, my timezone is CEST. Thanks a lot!

[2022-08-16 16:35] sergiomtzlosa commented on #1
~~Hi,~~

~~Sergio here, this problem seems appealing to me 🤔. Please can you give some more details? Thanks!~~

[2022-08-16 16:40] HuangJunye opened #26 "QPong 2.0"
### Description

QPong is a quantum version of the classic Pong game. It is built using Pygame engine and Qiskit. The paddle position of the player (quantum computer) is determined by the output state of a quantum circuit. It was featured in the first episode of the popular [Coding with Qiskit series](https://www.youtube.com/watch?v=a1NZC5rqQD8&list=PLOFEBzvs-Vvp2xg9-POLJhQwtVktlYGbY&index=1&t=28s

[2022-08-16 17:08] pandasa123 commented on #25
Content creators also include university professors etc. This is one of the most highly anticipated features for the platform

[2022-08-16 17:25] IvanIsCoding opened #27 "ZX-Calculus pass for Qiskit Terra"
### Description

This project consists of implementing a ZX Calculus Optimization pass for Qiskit Terra (https://github.com/Qiskit/qiskit-terra/issues/4990). Previously, there had been attempts of integrating ZX Calculus to Qiskit via the `pyzx` library. However, the conversion relied on converting the representations to QASM, which is not viable option.

Instead, this project will opt to directly

[2022-08-16 17:50] MaldoAlberto opened #28 "tensor networks for QML"
### Description

To design in a general way the quantum circuit to reproduce the tensor networks MERA, TTN, MPS for n qubits, and be able to apply to different datasets from Iris dataset to an unbalanced dataset that has missing values.

### Deliverables

tutorials and possibly a journal paper.

### Mentors details

- Mentor 1
  - Name: Alberto Maldonado Romo
  - GitHub ID: @Maldoalberto
  - What

[2022-08-16 18:11] bopardikarsoham commented on #20
Sue would love to have a meet. My timezone is IST(UTC+5:30)

[2022-08-16 18:14] bopardikarsoham commented on #28
Hello @MaldoAlberto, this issue fits my area of interest would love to chat further about this project

[2022-08-16 18:19] kevinsung commented on #1
@sergiomtzlosa you can post any questions you have at the Terra issue https://github.com/Qiskit/qiskit-terra/issues/8236. There is already some discussion ongoing there.

[2022-08-16 19:57] BramDo commented on #13
I started with quantum computing at the moment IBM put the first 5 qubit processor online. I did a couple of Summer schools and challenges and saw the progress last year. If you combine error mitigation and optimizing we would be able get to the edge whats is possible for interesting applications. I also am interested in this quest, it is also my drive to do quantum computing. It would be great to

[2022-08-16 20:16] jvscursulim commented on #13
Hi @zlatko-minev , I have an interest in joining this project. I have experience with QEC and VQE. Currently, I'm working on a benchmark for VQE. I also have experience with quantum experiments on IBM quantum devices, runtime and transpiler. About error mitigation, I just know https://qiskit.org/textbook/ch-quantum-hardware/measurement-error-mitigation.html.

[2022-08-16 20:22] jvscursulim commented on #6
Hi @robertloredo, I have an interest in joining this project. I have completed a course about image processing with Python in datacamp. In this course there is a module about biomedical image analysis.

[2022-08-16 20:33] BramDo commented on #3
This seems to be a great project, with great possibilities. I have som experience with contributing open source software also qiskit, but on a smaller scale like simple bug removal and test scripts.

[2022-08-16 23:49] dsierrasosa commented on #20
Wow that is a diversity of time zones this is my proposal:
Friday at:
9:30 EST
14:30 UTC +1
15:30 CEST
19:00 UTC +5:30

Is it ok? Do you want me to send the invitation?

[2022-08-16 23:57] Alfaxad commented on #20
Hello @dsierrasosa ,  my name is Alfaxad, Qiskit advocate from Tanzania experienced in Machine Learning and Deep Learning, I am interested in this project. My time zone is UTC+3 therefore I will be able to attend the meeting on Friday according to the allocated time.

[2022-08-17 00:37] bopardikarsoham commented on #20
I'm ok with the allocated time @dsierrasosa. Thanks a lot!

[2022-08-17 01:54] jayakumarksrit commented on #21
Eagerly waiting to apply 🙂

[2022-08-17 06:00] sergiomtzlosa commented on #20
@dsierrasosa I am fine with the schedule, I'll be there, thanks!

[2022-08-17 06:55] pdc-quantum commented on #20
@dsierrasosa  I'll be there on Friday

[2022-08-17 15:09] HuangJunye commented on #11
@poig Thanks for proposing your own project idea. You indicated 5 in the mentee field. Does it mean that you are open to other mentees joining the project?

[2022-08-17 15:10] JavaFXpert opened #29 "QNim"
### Description

One of the first games in which a human played against the computer is Nim, so it is an interesting and fitting game to implement on a quantum computer. This Wikipedia article describes the game, strategies and variants: https://en.wikipedia.org/wiki/Nim

### Deliverables

A game with a user interface conducive to a human playing Nim against an IBM Quantum computer, both a simulat

[2022-08-17 15:27] mtreinish opened #30 "Improvements to Red Queen"
### Description

Red Queen, https://github.com/Qiskit/red-queen, is a quantum compiler benchmark framework that we're using in Qiskit to characterize the performance (both runtime and quality) of qiskit's compiler (i.e. `transpile()`)

### Deliverables

The project is to work on improving the red queen framework. The primary deliverables will be pull requests to the project adding new benchmarks a

[2022-08-17 15:37] jodymburksphd commented on #6
Hi, @robertloredo I'd like to join the project as well.

[2022-08-17 15:48] Tim-Li commented on #9
Hi, I am interested in this topic.
I have used QSVM and SVM on tumor metastasis data and compared their effects. The results are expected to be published in the BIBE2022 conference paper.
Therefore, I think we can continue to study different Quantum kernel-based Algorithms used in tumor metastasis data to see if they can show advantages. On the other hand, I think it can also apply in DeepSDF-rela

[2022-08-17 15:55] KakashiOO7 commented on #18
Hi @Cryoris,
It's looks quite interesting to I would be lucky to collaborate on this with you.
Hoping to hear from you soon.

Thank you

[2022-08-17 16:01] hsanthan commented on #20
@dsierrasosa , My name is Hema. I have done my Masters in Data Science and excited about this project. I would like to join the team if there is still room and you think I fit your requirements. I am in the Eastern timezone and happy to join the Friday call. Please share the meeting invite. Thanks!

[2022-08-17 16:05] Tim-Li commented on #6
Hi, @robertloredo
I am interested in this topic. I am working at the National Synchrotron Radiation Center in Taiwan. My main work is the application of deep learning in X-ray image (nano-CT) processing, including low-dose 3D tomographic reconstruction, denoise, and super-resolution. I am trying to apply quantum algorithms to X-ray images, so I hope to learn related knowledge through this topic.

[2022-08-17 16:11] Tim-Li commented on #9
Hi, @adekusar-drl
I am interested in this topic.
I have used QSVM and SVM on tumor metastasis data and compared their effects. The results are expected to be published in the BIBE2022 conference paper. Therefore, I think we can continue to study different Quantum kernel-based Algorithms used in tumor metastasis data to see if they can show advantages and make tutorials.

[2022-08-17 16:31] ljubabu opened #31 "Variational quantum linear solver for multiphysics"
### Description

Application of the Variational Quantum Linear Solver (VQLS) for solving Multiphysics problems is investigated. To solve Multiphysics problems like heat transport, fluid flow, etc., the corresponding differential equations describing the physical process are first discretized in order to obtain corresponding system of algebraic equations and then solved by applying the VQLS. Since

[2022-08-17 17:04] AshwinKul28 commented on #25
This sounds very interesting to me, as a full-time developer for IBM Cloud I have great experience developing APIs, and large-scale applications. Would like to contribute to this. let's connect.

[2022-08-17 18:04] poig commented on #11
yes

[2022-08-17 18:32] Pranshi24 commented on #28
Hi @MaldoAlberto I am already working on implementing Pytorch with Qiskit, I am interested in doing further research in Quantum Neural Networks. Please let me know if we can discuss more over chat

[2022-08-17 23:41] hsanthan commented on #6
Hi @robertloredo , I was recently working on a project to classify chest x-rays focusing on the transfer learning and data augmentation methods. This project seems to have a lot of learning opportunities. I am interested in joining the project. Thanks!

[2022-08-18 02:31] Dran-Z commented on #2
Hi Takashi-san, I would like to hone my coding skills and your project really fits it! I am a fresh Master's graduate in quantum engineering this year. I have some experience with both Python and Qiskit (specifically, I implemented several research papers in quantum algorithms using Qiskit). I would be happy if I could learn how to work on developing an open-source library through this project!

[2022-08-18 06:18] gunchamalik commented on #17
Hi,
I am interested in working on this project. I have taken a hands-on session, for college students, in the past on Shor's algorithm. This will be a good opportunity for me to dive in a bit in other algorithms as well.

[2022-08-18 06:20] gunchamalik commented on #14
Hi,
I am interested in taking part in this project. I have written an article on AI Ethics in the past. This will be a good opportunity for me to take that step on QC topics as well.

[2022-08-18 08:08] MiikaVuorio commented on #20
@dsierrasosa I too am very excited about this project and would love to join the friday meeting :)

[2022-08-18 09:48] SanyaNanda commented on #21
Hi, I am Sanya. I am interested in this project. I have good documentation skills and follow the divio structure. I have also engaged with qml qiskit textbook.

[2022-08-18 14:17] derwind commented on #21
Hi, this project looks interesting for me. I have been developing ML prototype applications, especially using deep learning, in my company for the past few years and am very interested in the possibilities of QML. Unfortunately, I knew very little about quantum computing last year and was unable to attend QGSS2021, so I have currently worked on the QGSS2021 contents that has been incorporated into

[2022-08-18 21:57] kevinsung opened #32 "Fix issue "Template optimization fails to recognize simpler circuit""
### Description

See https://github.com/Qiskit/qiskit-terra/issues/6974.

Template optimization is an important circuit compilation method which detects gate patterns in a circuit and replaces them with simpler patterns. There is a major issue with the current implementation in Qiskit Terra which causes the template optimization to fail to replace known patterns in certain instances. The task for

[2022-08-18 23:17] sar49 commented on #10
I am really intrigued by this project and would be interested in discussing this more with you Cenk!

[2022-08-19 03:44] dsierrasosa commented on #20
Daniel Sierra-Sosa is inviting you to a scheduled Zoom meeting.

Topic: QAMP-Fall-22
Time: Aug 19, 2022 09:30 AM Eastern Time (US and Canada)

Join Zoom Meeting
https://zoom.us/j/93908685161?pwd=UmI1bElyeE1yenVyOHdqTXU1anMzQT09

Meeting ID: 939 0868 5161
Passcode: 626654
One tap mobile
+13017158592,,93908685161#,,,,*626654# US (Washington DC)
+16469313860,,93908685161#,,,,*626654# US

Dial by your

[2022-08-19 09:20] ritu-thombre99 commented on #29
Hi @JavaFXpert
Ritu here. This seems really interesting to me. Can we chat more about this project?

[2022-08-19 09:58] JavaFXpert commented on #29
Of course!

Regards,
James (Jim) Weaver

[2022-08-19 13:19] tinyRickk commented on #4
Hi @alirezaseif-ibm,
I am Aman, I am very much interested to work in this project and satisfy the requirement. I have worked in nuclear Hamiltonian simulations, error mitigation and blind quantum computation. I have skimmed through the paper and find it very interesting.

[2022-08-19 14:22] BOBO1997 opened #33 "Implementation of Generalized Subspace Expansion (GSE)"
# Description

Quantum error mitigation (QEM) is essential to exploit better performance from noisy near- and middle-term quantum devices.
The basic idea of QEM is to extend quantum circuits for characterizing noise and perform classical postprocessing to recover clean results.
Researchers have developed many kinds of effective QEM methods, and there are already several platforms such as [Mitiq](h

[2022-08-19 14:37] BOBO1997 commented on #33
Let me try to mention issue #3 directly.

[2022-08-19 17:20] dsierrasosa commented on #20
Please DM me in slack for the Discord link if you are interested in this project! Thanks for joining today.

[2022-08-19 18:05] pemmaras opened #34 "QML for reduced order density matrix time propagation"
### Description

Reduced density matrices (RDMs) play an important role in the theory of open quantum systems and functional approaches that aim to circumvent the exponential scaling associated with the full Hilbert space when approximating observable properties. This project aims to explore quantum machine learning (QML) of time propagators for evolving subsystem densities or density matrices of

[2022-08-19 21:15] deveshq commented on #5
Hi @eggerdj, I found this project interesting. I want to join it. I have some experience with Hamiltonian simulations using qiskit and currently working on quantum simulations. I have some knowledge of Qiskit Pulse.
I would love to discuss the project, its objective, and requirements.

[2022-08-20 04:04] poig commented on #20
@dsierrasosa hi, I am interested in this project, my discord `Jun Liang Tan#4881`

[2022-08-20 12:36] Gopal-Dahale commented on #28
Will these be added to Qiskit's circuit library in [N-local circuits](https://qiskit.org/documentation/apidoc/circuit_library.html#n-local-circuits)?

[2022-08-20 19:51] SanyaNanda commented on #8
Hi, I am Sanya and I am interested in the project. I have intermediate understanding of quantum computing and qiskit, and wanted to start with QML, what better way than going through the documentation and working on it. I have good documentation skills as well.

[2022-08-21 05:38] amitracal opened #35 "Quantum open systems and master equation implementation through reinforcement learning"
### Description

The quantum open systems master equation has the Schrodinger portion of the equation plus the non-unitary thermal dissipation part. The objective here is to come up with an implementation where the Schrodinger part is solved unitary operations but the other piece is learnt through an agent acting in the open environment through reinforcement learning or RL.

### Deliverables

A go

[2022-08-21 06:01] Hirmay opened #36 "Variational method/s for solving continuous equations"
### Description

We will investigate the application of the Variational methods for solving continuous problems. Simple problems such as the Brachistochrone problem could be divided into different sections according to the accuracy one wants. One would need to discretize the actions one can take and choose one of the actions which optimize the (time in this case) constraints. We would utilize quan

[2022-08-22 04:06] hykavitha commented on #28
@MaldoAlberto @HuangJunye  : I would like to be a mentee in this one. I do QML at my day job, I guess this fits my interests too.

[2022-08-22 04:08] hykavitha commented on #34
@pemmaras  @HuangJunye  : Hey both, This fits my area. At my day job I do QML, Would like to contribute to this work.

[2022-08-22 04:50] hykavitha commented on #35
Hi @amitracal I would like to contribute. @hykavitha

[2022-08-22 05:02] amitracal commented on #35
Mentor - Abhijit Mitra
@amitracal

Mentee - Alberto Maldonado
@maldoalberto

Vaibhaw Kuma
@vkkumar19

Kavitha Yograj
@hykavitha

@HuangJunye - please note this

[2022-08-22 09:31] Hirmay commented on #35
HI @amitracal, the problem seems quite interesting. I would love to contribute!

[2022-08-22 14:35] kevinsung opened #37 "Add good __repr__ methods to all public classes"
### Description

See https://github.com/Qiskit/qiskit-terra/issues/8594.

### Deliverables

Fix or make progress towards fixing https://github.com/Qiskit/qiskit-terra/issues/8594.

### Mentors details

- Mentor 1
  - Name: Kevin Sung
  - GitHub ID: kevinsung
  - What they do: Qiskit Researcher

### Number of mentees

1

### Type of mentees

- Mentee 1
  - Required:
    - Knowledge of Qiskit
  - Ni

[2022-08-22 14:39] HuangJunye commented on #35
@amitracal Will you be the mentor for this project or are you looking for a mentor?

[2022-08-22 15:33] ichen17 commented on #34
It's interesting for me. I have some knowledge of QML and also the quantum open system. I also like to contribute to this project.

[2022-08-22 15:35] ichen17 commented on #36
It's interesting for me. I would like to contribute to it.

[2022-08-22 15:56] Hirmay commented on #36
Okay, great! You want to be a mentee, right?

[2022-08-22 16:00] ichen17 commented on #36
Right. I want to be a mentee of this project.

[2022-08-22 16:37] Hirmay commented on #36
Okay, great! Welcome to the team!

[2022-08-22 18:10] MaldoAlberto commented on #28
@Gopal-Dahale ,  yes that is  the idea,  is do a Issue about this implementation like you said :D

[2022-08-22 18:27] MaldoAlberto commented on #28
@hykavitha yeah you can submit your proposal about this project :D

[2022-08-22 18:37] Gaya3-mv commented on #35
Hi @amitracal, this looks like an interesting research problem. I would also like to be a part of it.

[2022-08-22 18:44] Gaya3-mv commented on #18
Hi @Cryoris, this seems to be a very interesting research problem. I do wish to work on this and learn more.
Thank you.

[2022-08-22 20:22] JRussellHuffman opened #38 "Quantum Fractal Art for Educational Purposes and Exhibitions"
### Description

Fractals have the potential to be an exciting way to visualize quantum information that bridges art, science, and nature. Building upon previous work https://github.com/wmazin/Visualizing-Quantum-Computing-using-fractals the intent is to 
Create fractal presentations of common 1- and 2-qubit gates and circuits: this could, for example, be by creating a sensible 1-1 mapping of what

[2022-08-23 04:57] amitracal commented on #35
@HuangJunye I will be the mentor

[2022-08-23 05:05] ssawarn commented on #36
It indeed seems a great problem to work on, but alas the seats are filled.

[2022-08-23 05:08] ssawarn commented on #31
this seems a promising topic to work on. Can you refer to some references for more details so that I get to decide whether to opt this particular problems or not?

[2022-08-23 05:14] amitracal commented on #35
Will be happy to take you in.

[2022-08-23 05:15] ssawarn commented on #35
are there more positions open for this project? This seems a promising field to explore

[2022-08-23 05:34] Gaya3-mv commented on #35
Thank you @amitracal. That would be great.

[2022-08-23 08:29] Hirmay commented on #36
The problem isn't the number of mentees available (which could be incremented). The problem is finding a mentor for this project.

[2022-08-23 08:49] ljubabu commented on #31
@stoicodin Thanks for your interest in this project. Here is the paper which is planned to  be used as the reference for this project. [2022-Application of a variational hybrid quantum-classical algorithm to heat conduction equation.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9400903/2022-Application.of.a.variational.hybrid.quantum-classical.algorithm.to.heat.conduction.equation.pdf

[2022-08-23 13:50] KakashiOO7 commented on #35
Hi @amitracal ,
It's looks quite interesting to I would be lucky to collaborate on this with you.
Hoping to hear from you soon.

Thank you

[2022-08-23 15:30] Morcu commented on #38
Hi. I'm interested in the project, I have messaged you in slack :)

[2022-08-23 21:09] derek-wang-ibm commented on #33
Hi @BOBO1997 I'm a mentor for issue #3 (implement virtual distillation). While we agree it would be great to have an error mitigation toolbox, we should consider carefully a) which techniques to include, taking into account the toolboxes available elsewhere (e.g. Mitiq, the Qiskit Research repo) and the efficacy of each technique, and b) which features to add. Both of these points, in my opinion,

[2022-08-23 22:04] BOBO1997 commented on #33
Thank you for reading my proposal! I agree that we have first to identify and prepare such benchmarking tasks to evaluate the performance of QEMs. And yes, I am both willing to implement the methods themselves and clarify the good benchmarking tasks for QEMs. In my original plan, I was also planning to implement a benchmarking task for test code. What is your plan in issue #3 on those benchmarks f

[2022-08-24 02:05] amitracal commented on #35
@HuangJunye What is the limit of the number of people we can get in one team - We have Alberto, Vaibhaw, Kavitha & Gayathree plus me as mentor but there is two more requests so was wondering, will be happy to take them but do not want to cross the limits.

[2022-08-24 02:43] Hirmay commented on #35
Hello @amitracal, I also applied at the start of the thread, but it seems like my message got crowded up and was not seen by you 😅.

[2022-08-24 04:36] amitracal commented on #35
I see, sorry about that. I will wait for Junye's advice on the size of the cohort before any expansion beyond first 4 mentees.

[2022-08-24 04:56] Hirmay commented on #35
No need, I understand!

[2022-08-24 07:19] acharyasourav commented on #19
Hello @mtreinish I'm new to open-source and would love to contribute all I lack is a mentor to guide me through stuff. I've experience in python and also learning graph theory as a part of my course. I don't mind learning rust on the go. It would be great being a mentee.

[2022-08-24 08:27] HuangJunye commented on #35
@amitracal I would advise to take only 3 mentees as this is the first time you become a mentor. We have a mentor training session today. Let me add you.

[2022-08-24 13:37] nathanearnestnoble opened #39 "Qutrit circuits and simulations in Qiskit"
### Description

With the development of Qiskit Pulse, one is able to program IBM Quantum Computers at the pulse level.   This allows users to explore computation which leverages higher energy states in the transmon (see 1) or 2) ).  However, if one wishes to stay in the abstract quantum circuit, Qiskit does not have a proper means to deal with qutrit based circuits or simulation.   To this end, t

[2022-08-24 14:22] born-2learn commented on #39
This sounds like a great project for QAMP, @nathanearnestnoble! I'm interested in working on this. May I know if the end goal also involves implementing popular quantum algorithms using qutrit-quantum circuits?

[2022-08-24 16:31] kt474 opened #40 "Qiskit Runtime Documentation & Tutorials"
### Description

[Qiskit Runtime](https://github.com/Qiskit/qiskit-ibm-runtime) is a relatively new architecture that streamlines quantum computations with the goal of executing quantum circuits more efficiently. We recently implemented flexible sessions which allow multiple calls to primitives within the same session. Since this is a pretty big change, there is a need for more updated documentati

[2022-08-24 16:40] BOBO1997 commented on #33
@derek-wang-ibm I have shared some messages via slack DM. I would appreciate it if you could check them also.

[2022-08-24 17:24] alejandrogm668 commented on #38
Looks great! I have also messaged you in slack :nerd_face:

[2022-08-24 17:39] deveshq commented on #39
Hi @nathanearnestnoble, I found this project interesting. I want to join it. I would love to discuss the project, its objective, and its requirements.

[2022-08-24 17:44] tinyRickk commented on #33
@BOBO1997 Hi, I am Aman Gupta, I am very interested in this project. I have done Hamiltonian simulations and Blind quantum Computation and have implemented some error mitigation techniques in both.
@derek-wang-ibm I am also interested in the error mitigation via virtual distillation project. So I would like to work on any one of them if not both.

[2022-08-24 17:47] tinyRickk commented on #39
@nathanearnestnoble Hi, I am Aman. I am very interested in this project, I myself wished to introduce such a project in research (to describe and explore the changing behaviour of algorithms for qutrits). I have done some Hamiltonian simulations and Blind quantum Computation in past. I am very eager to work in this project.

[2022-08-24 17:52] deveshq commented on #5
Hi @eggerdj, a gentle reminder. Please respond to this comment for confirmation that I can apply for this project in QAMP.
@HuangJunye, please help.

[2022-08-24 20:01] amitracal commented on #35
@HuangJunye I hear you. I will definitely not expand beyond 4, let me talk a few individually and see we can shorten it to three.

[2022-08-24 22:18] miamico commented on #33
I'm not an expert in the mitigation techniques proposed here but I can help integrating them (as a mentor) with the existing [qiskit-research repository](https://github.com/qiskit-research/qiskit-research) which is an open-source effort supported by IBM to collect and integrate tools (like error mitigation techniques) to help researchers get the most out of Qiskit and the IBM Quantum systems. Plea

[2022-08-24 22:42] miamico commented on #19
I'd like to be a mentee on this issue. Is this a possibility for IBMers too?

[2022-08-25 10:06] TMuehge commented on #40
I would be interested especially in creating tutorials / demos in the context of the chemical industry. I would use this project to get a deeper insight into qiskit runtime as well-

[2022-08-25 14:00] Hirmay commented on #31
Hi @ljubabu, this project looks quite interesting to me. I have some knowledge and experience of VQE. I would love to contribute to this project.

Edit: I have gone through the entire paper mentioned and understood most aspects of the paper. I'm pretty intrigued by the project and am interested in working on this project.

[2022-08-25 15:29] Hirmay commented on #27
Hi Ivan, the project seems pretty interesting to me. Can you point to some references for more details regarding the project?

[2022-08-25 15:32] BramDo commented on #37
I am interested in this issue, because it is good way to learn qiskit classes. However it might be lot of work todo all classes

For the class QuantumCircuit I have used the following repr:
[code]
With testcircuit:
[code]
Output in python shell

"<QuantumCircuit 'circuit-1' with 2 qubits, 2 clbits and 4 instructions>"

[2022-08-25 19:18] kevinsung commented on #37
Thank you @BramDo ! I would say the first step would be to start making a list of the classes that need attention. I mentioned QuantumCircuit and Sampler at https://github.com/Qiskit/qiskit-terra/issues/8594 but there are probably more. Once we have a list of all the classes, we can sort them by perceived importance and start from there. If you want to start investigating, you can write the list o

[2022-08-25 20:05] pemmaras commented on #34
Hi @hykavitha, @ichen17  Thank you for your interest! Are you applying to the QAMP fall 22 program? If so, please indicate your interest  on the application form. If you are not applying via the QAMP program there might also be an opportunity to collaborate. Reach out to me (@Das Pemmaraju) over Qiskit slack and we can discuss options.

[2022-08-27 09:43] hamzakamel1 commented on #20
I'm very interesting about this project, it looks really good

[2022-08-27 13:02] rkfqns13 commented on #10
I am interested in this project. I have experience implementing quantum algorithms using IBMQ hardware.
I want to use various quantum hardware, so I think this project will help me a lot to experience it.
I'd really like to join it!

[2022-08-27 21:43] Qcatty commented on #36
I would like to join tooo, as a mentee

[2022-08-28 00:48] Qcatty commented on #31
Hi, i would like to join this project, i have already worked on L-VQE, F-VQE(on  VRP) and DA-VQE, i would like to to use VQLS to solve heat conduction equation,

[2022-08-28 10:22] hamzakamel1 commented on #29
I'm very interested in this project, As I have a background in Game development and as it is a major in mu university. I would love to join this project as a mentee

[2022-08-28 10:27] hamzakamel1 commented on #26
I'm very interested in this project as I have a good background in Game development. I would like to join as a mentee

[2022-08-28 10:35] hamzakamel1 commented on #13
I'm Hamza a new Qiskit advocate for 2022. I'm very interested in this project, I have a very good skills in research and coding skills. I have participated in Quantum Computing Hackathon before and I have the skill to find the information fast and correct at the same time. I would love to join this project.

[2022-08-28 11:39] JavaFXpert commented on #29
Awesome!

On Sun, Aug 28, 2022, at 6:22 AM, Hamza Kamel Ahmed wrote:

[2022-08-28 12:46] Qcatty commented on #18
this seems an interesting project for me.
can you provide a link to the paper that going to be used as the reference for this project?

[2022-08-28 16:17] Qcatty commented on #15
this seems a goood project for my group(we are 3 qiskit advocates)

[2022-08-28 16:41] Hirmay commented on #36
Hello, If you are interested, contact me on slack @ Hirmay Sandesara.

[2022-08-28 17:15] Qcatty commented on #5
I would like to join this project, I have experience with qiskit, also with Variational algorithms.

[2022-08-28 23:39] ghost commented on #15
Hey Khadija,
That's great; we should plan a time to chat about the potential for this project?

[2022-08-29 02:59] born-2learn commented on #13
I'm interested to work on this project and have applied! Thanks.

[2022-08-29 07:57] HuangJunye commented on #5
@deveshq Sorry for the late reply. Yes you can go ahead and select the project in the application form.

[2022-08-29 16:27] Louisanity commented on #6
Hi @robertloredo , I am interested in this project. Recently I have done a medical imaging processing project using quantum transform learning with Qiskit. Also, I have 3 years of classic/quantum application development experience.

[2022-08-30 09:04] t-imamichi commented on #2
@Dran-Z Hi. Thank you for having an interest in this project. As I wrote the description, this project focuses on the integration of a classical solver. Are you happy to work on it?

[2022-08-30 09:32] Dran-Z commented on #2
Sure. I expect to practice my skill with developing a qiskit feature rather than learning quantum-algorithm-relevant knowledge. It will be nice if it is the case.

[2022-08-30 13:26] JavaFXpert commented on #29
@ritu-thombre99 and @hamzakamel1 Please reply to my message on Slack on when we can meet to discuss details of the project.

[2022-08-31 15:24] ljubabu commented on #31
Hi @Hirmay  and @echchallaouy  . Very sorry for late response. Thank you very much for your interest in this project . I will make the selection as soon as possible.

[2022-08-31 16:07] smendoncabruna commented on #31
Hi @ljubabu , I am very interested in this project!
Will you inform about your decision regarding this project through here?

[2022-09-02 15:07] gideonuchehara commented on #17
Hello @Cryoris , I am interested in this project. I have submitted my application for mentorship. Please, let me know what the next steps are. Looking forward to working with you. Thanks.

[2022-09-02 15:08] gideonuchehara commented on #30
Hello @mtreinish , I am interested in this project. I have submitted my application for mentorship. Please, let me know what the next steps are. Looking forward to working with you. Thanks.

[2022-09-02 15:11] gideonuchehara commented on #19
Hello @mtreinish , I am interested in this project. I have submitted my application for mentorship. Please, let me know what the next steps are. Looking forward to working with you. Thanks.

[2022-09-02 15:25] archanaravindar commented on #30
Hi @mtreinish This project interests me as it overlaps with both areas I have worked earlier- compiler performance and development. I have submitted my application for the QAMP fall program. if there is a spot for a mentee available I m interested.

[2022-09-02 15:29] archanaravindar commented on #22
Hi This project interests me as I have assembly background in PowerPC and C++. Pls let me know if there is a spot for a mentee available.

[2022-09-02 16:38] AbhaSNK commented on #17
Hello Cryosis!
This project is really interesting. I  have experience writing about quantum topics, in a way to make things easier for readers at various levels and will love making the code understandable and easy for all. I wish to write an extensive guide to quantum algorithms.  I am super okay with working with others and learn together!

[2022-09-02 16:41] derwind commented on #21
Hello @ManjulaGandhi I submitted my application to this issue as 1st choice. What is the next step? I am looking forward to discuss each other. Thank you.

[2022-09-02 16:53] derwind commented on #9
Hello @adekusar-drl I submitted my application to this issue as 2nd choice. I would like to discus about the detail. Thank you.

[2022-09-02 16:55] adekusar-drl commented on #9
@derwind this project is already assigned to a mentee, sorry.

[2022-09-02 17:39] derwind commented on #9
@adekusar-drl Okay, I see. Thanks for getting back to me. Looking forward to your results!

[2022-09-03 02:52] gprs1809 commented on #19
Hello @mtreinish, I have opted for this project. It looks super interesting. I am well-versed with Python, I loved graph theory when I studied it and would love to get back to it. I am extremely keen on learning Rust as well. Would be really happy to learn more about this project from you. Looking forward to a discussion and hopefully, also getting an opportunity to work on this :)

[2022-09-03 03:07] gprs1809 commented on #27
Hello @IvanIsCoding, this project looks super interesting. I have opted for this. I have been wanting to learn and understand ZX calculus and when I saw this, I thought this would be a good opportunity. I am well-versed with Python. I have studied a lot of Graph Theory during my education. Looking forward to a discussion and hopefully, get an opportunity to work on this :)

[2022-09-03 04:18] ManjulaGandhi commented on #21
@derwind we shall have a discussion via slack.

[2022-09-03 07:13] helenup commented on #13
Hi, I am Helen Urgelles a new Qiskit Advocate. I am very interested in this project in order to improve my hardware skills. I’ve been working on software level especially, but I’ve executed many experiments on IBM quantum devices. I would really like to join you all.

[2022-09-03 07:17] helenup commented on #17
Hi. I am Helen a new Qiskit Advocate. I am interested in working on this project. I’ve already worked with some algorithms and I would love to learn with the team. I’ve submitted my application. Thanks

[2022-09-04 18:55] AshwinKul28 commented on #25
HI @vabarbosa Do you want to connect sometime? Project sounds interesting.

[2022-09-04 20:51] BramDo commented on #37
For adding a repr function to sampler class, I started with the qiskit_ibm_runtime as separate module
[code]
Output
[code]
This shows the standard quantumcircuit class. Offcourse we want the new QAMP repr style. It took me some time but I needed to load the modified qiskit-terra and qiskit-ibm-runtime both in the dev environment. Then I have the new quantumcircuit repr in the ibm-runtime repr.
Out

[2022-09-04 22:30] vabarbosa commented on #25
@AshwinKul28 thank you for your interest! i will be sending you an invite to discuss further.

[2022-09-05 00:44] IvanIsCoding commented on #27
I requested to have you working on this, thanks for letting me know it is your first option

[2022-09-05 03:32] ShivaniRajput11 commented on #38
Hi @JRussellHuffman I am interested to work on this project.

[2022-09-05 13:42] hykavitha commented on #34
@pemmaras  : I'm working on issue number #35 so will drop from this.

[2022-09-05 13:43] hykavitha commented on #28
@MaldoAlberto : will drop from this & focus on #35

[2022-09-05 15:50] Cryoris commented on #17
It's great to see so much interest in this! However, we're currently undergoing a refactoring of the algorithms in Qiskit Terra to use the new Qiskit Primitives so it is a unfortunately a bit too early to write tutorials. Let me know you are still interested in the future, then we can tackle this project after the refactoring! 🙂

[2022-09-05 15:50] #17 closed

[2022-09-06 06:37] GemmaDawson commented on #18
Unfortunately, this project cannot go forward at this time

[2022-09-06 06:37] #18 closed

[2022-09-07 13:42] ssawarn commented on #35
I want to work on it @amitracal

[2022-09-07 13:45] ssawarn commented on #39
I am interested in working. DM me on @stoick (slack)

[2022-09-07 14:01] ssawarn commented on #15
I am interested in theory section. I would like to work on it @grace-harper-ibm

[2022-09-07 14:14] Pranshi24 commented on #40
Hi @kt474  I am interested in working on this project, I am working as a Quantum Researcher at Deloitte, and I have experience in using Qiskit-Runtime as well. This will be a good experience for me. Let me know if we can connect on Slack to discuss more.

[2022-09-07 14:15] Pranshi24 commented on #1
Hi @kevinsung   I am interested in working on this project, I am working as a Quantum Researcher at Deloitte, and I have experience in using Qiskit as well. This will be a good experience for me. Let me know if we can connect on Slack to discuss more.

[2022-09-07 14:16] Pranshi24 commented on #16
Hi @nelimee I am interested in working on this project, I am working as a Quantum Researcher at Deloitte, and I have experience in using Qiskit as well. This will be a good experience for me. Let me know if we can connect on Slack to discuss more.

[2022-09-07 14:21] Pranshi24 commented on #39
Hi @nathanearnestnoble   I am interested in working on this project, I am working as a Quantum Researcher at Deloitte, and I have experience in using Qiskit as well. This will be a good experience for me. Let me know if we can connect on Slack to discuss more.

[2022-09-07 14:23] Pranshi24 commented on #7
Hi @adekusar-drl   I am interested in working on this project, I am working as a Quantum Researcher at Deloitte, and I have experience in using Qiskit as well. This will be a good experience for me. Let me know if we can connect on Slack to discuss more.

[2022-09-07 15:29] derwind commented on #23
Hi @hhorii, I probably do not strictly meet the requirements, but I would like to see if there is any area where I can help.
First of all I am a software developer with a career of almost 20 years. I have used Python 2/3 since 2015 to now. I have some experience in OSS in areas unrelated to quantum computing as a contributor. I have also used C++ intermittently from 2003 to 2015 mostly for embedde

[2022-09-07 16:16] ShivaniRajput11 commented on #40
Hello @kt474  @HuangJunye, I am interested in working on this project. I am Bsc(H) Physics graduate student.Currently I am working as Research Associate at Univeristy of Delhi(India).Wanted to be a part of this project and give my contribution. I do have experince with qiskit and git both

[2022-09-08 04:20] hhorii commented on #23
@derwind Thank you for your comment. I believe that you do not need C++ implementation to implement `Densitymatrix` but knowledge of C++ will be very helpful to understand the current implementation of `AerStatevector`. Binding part was already done by using [pybind11](https://github.com/Qiskit/qiskit-aer/blob/main/qiskit_aer/backends/wrappers/bindings.cc). `AerStatevector` is now under review [he

[2022-09-08 10:08] adekusar-drl commented on #7
I'm closing this issue as I will be busy in another project.

[2022-09-08 10:08] #7 closed

[2022-09-08 12:57] derwind commented on #23
@hhorii Thank you for your reply. There is still some uncertainty for me due to lack of my knowledge , but I am willing to take on the challenge since I believe this is a good first step in understanding Qiskit itself and how to better utilize it in the future. First of all I checked out your PR#1590 locally to understand the situation, built qiskit-aer and ran the following code:

[code]

I have

[2022-09-08 14:17] robertloredo commented on #39
Hi @nathanearnestnoble ! Sign me up if room available! Looking forward to it! 👍

[2022-09-08 14:37] rkfqns13 commented on #16
I’m mentee of this project !

[2022-09-08 14:47] kt474 commented on #40
Sorry, due to lack of resources and other priorities we are going to close this issue

[2022-09-08 14:47] #40 closed

[2022-09-08 15:19] gideonuchehara commented on #4
Hello @alirezaseif-ibm,

I am interested in this project. As part of my responsibilities at Xanadu, I create topical and engaging content related to quantum computing, and quantum machine learning. For example, I am currently creating a content on Open Quantum Systems and working on how to implement POVM using PennyLanne. Since I started working on this project, I have found it very exciting readi

[2022-09-08 16:49] shraddha-aangiras commented on #39
Hello @nathanearnestnoble ! I'm really interested in working on this project. Would love to talk on Slack and discuss on this. I'm proficient with both Qiskit and linear algebra and this would be an amazing opportunity for me.

[2022-09-08 17:17] ShivaniRajput11 commented on #39
Hello @nathanearnestnoble! I'm interested in working on this. I do have experince in Qiskit as well as familiarity with linear algebra
familiarity with linear algebra

[2022-09-08 18:35] scottoshiro2 commented on #39
Hi @nathanearnestnoble I am very interested in working on this project, enabling qutrit quantum circuits and simulation. I am experienced in qiskit, open pulse and python.

[2022-09-10 12:35] smendoncabruna commented on #14
Very glad to be chosen for this project! :)

[2022-09-11 10:58] BramDo commented on #37
Update of read_from instructions method as part of the QuantumCircuit class

[code]

I made a testcircuit

[code]

[2022-09-12 13:54] robertloredo commented on #6
Hello everyone!
@GemmaDawson will be creating two groups as we had a lot of interest in this topic. The two groups are as follows:

Selection for Project #6 - Two groups:

**Group 1:**

- Tai Yue, Li (Group 1)
- Iulia Zidaro (Group 1)
- Jody Burks (Group 1)
- Jose Victor (Group 1)

**Group 2:**

- Adnani Hinde (Group 2)
- Khadija Ech-challaouy (Group 2)
- Hamza Kamel Abdelsalam Attia Ahmed  (Group

[2022-09-12 14:25] GemmaDawson opened #41 "Quantum fMRI analysis (Group 2)"
### Description

**Please note that this is a duplicate of #6 but Group 1 and Group 2 work independently.**

Functional magnetic resonance imaging (fMRI) and magnetic resonance imaging (MRI) are techniques that allow soft tissue and blood to be represented as images. In this project we will be looking at ways to represent the fMRI information and determine innovative ways to analyze the informatio

[2022-09-13 06:23] GemmaDawson commented on #22
Unfortunately, this project will not go forward at this time.

[2022-09-13 06:23] #22 closed

[2022-09-13 08:05] Faujdar commented on #24
Hey @GemmaDawson
This is Jyoti, a mentee in this project.

[2022-09-13 08:06] rupeshknn commented on #5
Hey @GemmaDawson can you assign me to this project?

[2022-09-13 08:09] Seungwook-Woo commented on #19
@GemmaDawson

[2022-09-13 08:12] orielkiss commented on #3
Hi @GemmaDawson

[2022-09-13 08:12] kvcmarshall6 commented on #38
@GemmaDawson - for assigning this project please add myself, Wiktor Mazin and @Morcu!

[2022-09-13 08:14] tula3and commented on #26
@GemmaDawson Hello, I've just checked your email. Could you please assign me here? Thank you! 🙂

[2022-09-13 08:30] Unathi-Skosana commented on #26
🕹️🕹️🕹️ @GemmaDawson

[2022-09-13 08:40] petr-ivashkov commented on #4
Hello @GemmaDawson,

kindly add me to the issue!

[2022-09-13 08:42] t-imamichi commented on #2
FYI: https://qiskit.org/documentation/optimization/tutorials/11_using_classical_optimization_solvers_and_models.html

[2022-09-13 08:52] wmazin commented on #38
@GemmaDawson

[2022-09-13 09:09] kavitha-ishu commented on #21
@GemmaDawson Hi

[2022-09-13 09:11] kavitha-ishu commented on #21
@GemmaDawson Hi.. I'm Kavitha S S

[2022-09-13 09:27] poig commented on #20
.

[2022-09-13 09:51] iuliazidaru commented on #6
@GemmaDawson

[2022-09-13 10:00] AntonSimen06 commented on #28
@GemmaDawson

[2022-09-13 10:24] dhruvbhq commented on #15
Hi @GemmaDawson, as you requested in the email, I have tagged you here.

[2022-09-13 11:27] VasilyBokov commented on #9
@GemmaDawson

[2022-09-13 11:28] diemilio commented on #12
Hello @GemmaDawson. Tagging you for issue assignment. Thanks.

[2022-09-13 11:30] prakharb10 commented on #19
@GemmaDawson

[2022-09-13 12:21] derek-wang-ibm commented on #4
Hi @GemmaDawson commenting and tagging you as requested

[2022-09-13 13:01] ruihao-li commented on #15
Hey @GemmaDawson! It's Ruihao here.

[2022-09-13 13:08] priti-ashvin-shah-ibm commented on #12
@GemmaDawson

[2022-09-13 13:52] TigrisCallidus commented on #24
Hey @GemmaDawson
Tagging you as requested, and thank you for your work!

Marcel the Mentor of this project

[2022-09-13 14:03] shraddha-aangiras commented on #30
@GemmaDawson

[2022-09-13 14:21] saktar-lanl commented on #10
@GemmaDawson, I am mentee on this project.

[2022-09-13 15:04] ThomasGM4 commented on #12
@GemmaDawson

[2022-09-13 15:05] bicycle315 commented on #5
@GemmaDawson I'm also assigned to this project! (Jeongwon Kim)

[2022-09-13 15:09] Siheon-Park commented on #34
@GemmaDawson I have been mailed to add a comment on this issue. Sorry for the late response.

[2022-09-13 15:27] sumit-kale commented on #1
@GemmaDawson

[2022-09-13 15:34] kevinsung commented on #1
thank you @Pranshi24 , but @sumit-kale has already been matched with this project.

[2022-09-13 16:35] MaldoAlberto commented on #35
@GemmaDawson

[2022-09-13 17:00] newsma commented on #3
Hi @GemmaDawson

[2022-09-13 18:08] alirezaseif-ibm commented on #3
tag @GemmaDawson

[2022-09-13 21:10] AshwinKul28 commented on #25
HI @GemmaDawson I have got assigned to this issue. Will be working with @vabarbosa  and the team. :)

[2022-09-13 23:24] Mostafa-Atallah2020 commented on #31
@GemmaDawson

[2022-09-14 01:28] Irnamosa commented on #27
@GemmaDawson

[2022-09-14 05:30] HaEumKim commented on #32
@kevinsung @GemmaDawson  I will do my best in this project ;)

[2022-09-14 08:04] t-imamichi commented on #2
We had the first meeting to introduce each other and discuss the project overview on Sep 13.

[2022-09-14 12:20] jvscursulim commented on #6
@GemmaDawson

[2022-09-16 05:42] rkfqns13 commented on #16
@GemmaDawson Please assign me. I'm Juon Kim (the mentee of this project !)

[2022-09-16 09:56] rkfqns13 commented on #16
@GemmaDawson Can you assign me again? I removed it for mistake

[2022-09-17 07:49] acharyasourav commented on #19
@GemmaDawson

[2022-09-19 05:37] GemmaDawson commented on #19
@SUGARXUST -  Please email or Slack me to discuss as I cannot find your application or advocate listing.

[2022-09-21 06:05] Siddharthgolecha commented on #26
@GemmaDawson Really sorry, your email was buried in the inbox :sweat_smile:

[2022-09-22 10:15] GemmaDawson commented on #11
Unfortunately, this project will not be continuing in QAMP Fall 2022

[2022-09-22 10:16] GemmaDawson commented on #36
Unfortunately, this project will not be continuing in QAMP Fall 2022

[2022-10-03 06:35] #36 closed

[2022-10-06 02:52] Dran-Z commented on #2
The Checkpoint-1 slides can be found [here](https://github.com/Dran-Z/QAMP2022-MILP-solver/blob/main/slides/Checkpoint-1.pptx).

[2022-10-07 03:12] derwind commented on #23
# Checkpoint 1

The presentation slide is: [Enhancement_of_Aer-based_quantum_info.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9730416/Enhancement_of_Aer-based_quantum_info.pdf)

[2022-10-07 03:41] archanaravindar commented on #30
Uploading checkpoint 1 presentation @GemmaDawson
[qamp-proposal.pptx](https://github.com/qiskit-advocate/qamp-fall-22/files/9735503/qamp-proposal.pptx)
[Uploading qamp-proposal.pptx…]()

[2022-10-07 03:52] wmazin commented on #38
Checkpoint 1

[Checkpoint 1 - QAMP Fall 2022 - #38 Quantum Fractal Art for Educational Purposes and Exhibitions - October 2022.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9730542/Checkpoint.1.-.QAMP.Fall.2022.-.38.Quantum.Fractal.Art.for.Educational.Purposes.and.Exhibitions.-.October.2022.pdf)

[2022-10-07 04:15] SanyaNanda commented on #8
## Checkpoint 1

1. #8
2. Checkpoint 1 Slides: [QAMP#8-Checkpoint1.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9730616/QAMP.8-Checkpoint1.pdf)
3. [Video Presentation](https://youtu.be/OjQTqxpqfUE)

[2022-10-07 05:32] gprs1809 commented on #27
This is the checkpoint 1 presentation that we presented yesterday :)
[ZX_calculus_pass_for_Qiskit_Terra.pptx](https://github.com/qiskit-advocate/qamp-fall-22/files/9730921/ZX_calculus_pass_for_Qiskit_Terra.pptx)

[2022-10-07 06:40] Gaya3-mv commented on #35
Checkpoint 1 presentation for #35

[pjt _35_ppt_QAMP.pptx](https://github.com/qiskit-advocate/qamp-fall-22/files/9731281/pjt._35_ppt_QAMP.pptx)

[2022-10-07 08:54] HuangJunye commented on #26
Presentation slides for Checkpoint 1

- [QPong 2.0 - QAMP Fall 22 Checkpoint 1.pptx](https://github.com/qiskit-advocate/qamp-fall-22/files/9732304/QPong.2.0.-.QAMP.Fall.22.Checkpoint.1.pptx)
- [QPong 2.0 - QAMP Fall 22 Checkpoint 1.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9732306/QPong.2.0.-.QAMP.Fall.22.Checkpoint.1.pdf)

[2022-10-07 09:13] prakharb10 commented on #19
Checkpoint 1 presentation - [qamp-ch-1.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9732446/qamp-ch-1.pdf)

[2022-10-07 09:20] GemmaDawson commented on #30
@archanaravindar - please review that upload.  It is not correct

[2022-10-07 15:21] Mostafa-Atallah2020 commented on #31
# Checkpoint 1

The link to the presentation slides

https://slides.com/mostafaataallah/solving-multiphysics-problems-on-quantum-computers

[2022-10-07 15:21] Mostafa-Atallah2020 commented on #31
![1](https://user-images.githubusercontent.com/67621237/194590070-cf207289-33e9-4b15-a855-b2f345acd8c7.png)
![2](https://user-images.githubusercontent.com/67621237/194590077-7e67db3e-947c-4595-a221-ebc305a58676.png)
![3](https://user-images.githubusercontent.com/67621237/194590080-9892c611-7eac-4e93-a3a5-ce7a44db87b5.png)
![4](https://user-images.githubusercontent.com/67621237/194590084-a5fb24f4-6

[2022-10-07 15:23] sumit-kale commented on #1
The slides for Checkpoint 1 could be found below

[Presentation Checkpoint 1.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9735164/Presentation.Checkpoint.1.pdf)

It covers the proposal motivation and objective behind this issue.

[2022-10-07 16:14] archanaravindar commented on #30
Thanks for noticing! uploaded the correct file @GemmaDawson

[2022-10-07 18:25] Gaya3-mv commented on #35
Checkpoint 1 presentation for project #35

[pjt _35_ppt_QAMP.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9736341/pjt._35_ppt_QAMP.pdf)

[2022-10-07 19:46] bopardikarsoham commented on #20
Checkpoint 1 Presentation:

- [Project 20 QAMP Fall 2022 Checkpoint 1.pptx](https://github.com/qiskit-advocate/qamp-fall-22/files/9737049/Project.20.QAMP.Fall.2022.Checkpoint.1.pptx)

- [Project 20 QAMP Fall 2022 Checkpoint 1.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9737050/Project.20.QAMP.Fall.2022.Checkpoint.1.pdf)

[2022-10-08 03:21] saktar-lanl commented on #10
Presentation for Checkpoint-1: [#10-QAMP-2022-Checkpoint-1.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9738315/10-QAMP-2022-Checkpoint-1.pdf)

[2022-10-08 05:50] Gopal-Dahale commented on #28
[Slides](https://docs.google.com/presentation/d/1-1KxPQ2KXOyUHURKbRvIvSItAfTQl2Qs/edit?usp=sharing&ouid=111215392640027921563&rtpof=true&sd=true) for checkpoint 1.

[2022-10-08 18:48] pemmaras commented on #34
Slides from Checkpoint 1
[QAMP-Project34-Checkpoint1.pptx](https://github.com/qiskit-advocate/qamp-fall-22/files/9740083/QAMP-Project34-Checkpoint1.pptx)

[2022-10-08 21:23] BOBO1997 commented on #33
Here are the slides I used at the talk for checkpoint 1.
[checkpoint1.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9740281/checkpoint1.pdf)

[2022-10-10 09:54] GemmaDawson commented on #3
Please add your Checkpoint 1 presentation materials.

[2022-10-10 09:55] GemmaDawson commented on #4
Please add your Checkpoint 1 presentation materials.

[2022-10-10 09:55] GemmaDawson commented on #5
Please add your Checkpoint 1 presentation materials.

[2022-10-10 09:55] GemmaDawson commented on #6
Please add your Checkpoint 1 presentation materials.

[2022-10-10 09:55] GemmaDawson commented on #9
Please add your Checkpoint 1 presentation materials.

[2022-10-10 09:56] GemmaDawson commented on #12
Please add your Checkpoint 1 presentation materials.

[2022-10-10 09:56] GemmaDawson commented on #13
Please add your Checkpoint 1 presentation materials.

[2022-10-10 09:56] GemmaDawson commented on #14
Please add your Checkpoint 1 presentation materials.

[2022-10-10 09:56] GemmaDawson commented on #15
Please add your Checkpoint 1 presentation materials.

[2022-10-10 09:56] GemmaDawson commented on #16
Please add your Checkpoint 1 presentation materials.

[2022-10-10 09:57] GemmaDawson commented on #21
Please add your Checkpoint 1 presentation materials.

[2022-10-10 09:57] GemmaDawson commented on #24
Please add your Checkpoint 1 presentation materials.

[2022-10-10 09:57] GemmaDawson commented on #25
Please add your Checkpoint 1 presentation materials.

[2022-10-10 09:57] GemmaDawson commented on #29
Please add your Checkpoint 1 presentation materials.

[2022-10-10 09:59] GemmaDawson commented on #32
Please add your Checkpoint 1 presentation materials.

[2022-10-10 10:00] GemmaDawson commented on #37
Unfortunately, this project will not be going forward.

[2022-10-10 10:00] GemmaDawson commented on #39
Please add your Checkpoint 1 presentation materials.

[2022-10-10 10:15] rupeshknn commented on #5
Checkpoint 1:
[qamp_fall22_checkpoint1.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9745095/qamp_fall22_checkpoint1.pdf)

[2022-10-10 10:39] petr-ivashkov commented on #4
Hi @GemmaDawson, our checkpoint 1 materials are in our [repo](https://github.com/ibm-q-collaboration/qamp-generalized-measurements). I will attach them here as well.

[POVM_Checkpoint_1.pptx](https://github.com/qiskit-advocate/qamp-fall-22/files/9745251/POVM_Checkpoint_1.pptx)

[2022-10-10 11:32] smendoncabruna commented on #14
Hi, there it is:
[QAMP - Checkpoint 1.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9745522/QAMP.-.Checkpoint.1.pdf)

[2022-10-10 11:34] ritu-thombre99 commented on #29
Link to the jupyter notebook - [QAMP Checkpoint 1 - QNim](https://github.com/ritu-thombre99/QNim/blob/main/QAMP%20Checkopint%201.ipynb)

[2022-10-10 12:01] HaEumKim commented on #32
Checkpoint 1 presentation for project https://github.com/qiskit-advocate/qamp-fall-22/issues/32

[Fix Template Optimization.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9745718/Fix.Template.Optimization.pdf)

[2022-10-10 12:37] #37 closed

[2022-10-10 13:55] ruihao-li commented on #15
[QAMP15_checkpoint1.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9746520/QAMP15_checkpoint1.pdf)

[2022-10-10 16:24] jvscursulim commented on #6
Checkpoint 1 slides

[Project #6 - Quantum fMRI analysis.pptx](https://github.com/qiskit-advocate/qamp-fall-22/files/9747547/Project.6.-.Quantum.fMRI.analysis.pptx)

[2022-10-10 23:59] rkfqns13 commented on #16
[Checkpoint1_#16.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9749850/Checkpoint1_.16.pdf)

[2022-10-11 07:32] jayakumarksrit commented on #21
Hi all,

Please find checkpoint 1 presentation attached with this email.

Thanks in Advance 1

On Mon, Oct 10, 2022 at 3:27 PM Gemma Dawson ***@***.***>
wrote:

[2022-10-11 07:33] jayakumarksrit commented on #21
[](url)
[# 21 Developing Tutorials for Quantum Machine Learning.pptx](https://github.com/qiskit-advocate/qamp-fall-22/files/9752204/21.Developing.Tutorials.for.Quantum.Machine.Learning.pptx)

[2022-10-11 07:41] Faujdar commented on #24
Here it is!!
[QAMPfall22_Checkpoint1_#24.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9752298/QAMPfall22_Checkpoint1_.24.pdf)

[2022-10-11 07:42] SanyaNanda commented on #21
Hi

I have already added the presentation

Yours sincerely
Sanya Nanda

On Mon, Oct 10, 2022, 3:27 PM Gemma Dawson ***@***.***> wrote:

[2022-10-11 07:45] jayakumarksrit commented on #21
[# 21 Developing Tutorials for Quantum Machine Learning.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9752332/21.Developing.Tutorials.for.Quantum.Machine.Learning.pdf)

[2022-10-11 08:03] derek-wang-ibm commented on #33
Great to hear that you were planning to benchmark too! We haven’t planned specific benchmarks for virtual distillation yet, but we do some circuits inspired by an actual physical problem (interacting/disordered spin chains with nearest-neighbor couplings) that we can use to benchmark virtual distillation vs. zero-noise extrapolation vs. … We can come up with other relevant classes of circuits / ap

[2022-10-11 12:53] AshwinKul28 commented on #25
HI @GemmaDawson, sorry I really missed your mail in the sea of emails.

[2022-10-11 12:55] AshwinKul28 commented on #25
Here's Presentation material for the checkpoint 1: cc - @vabarbosa

[QAMP_Checkpoint1.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9755965/QAMP_Checkpoint1.pdf)
[QAMP_Checkpoint1.pptx](https://github.com/qiskit-advocate/qamp-fall-22/files/9755967/QAMP_Checkpoint1.pptx)

[2022-10-11 13:48] BOBO1997 commented on #33
Yes, we start with checking the performance of GSE (and purification-based method) for GHZ state since it seems easy to be implemented on IBM Quantum devices with restricted qubit connection.
Then, we will move to the basic Ising model, such as (subspace-search) VQE for 8-qubit transverse field Ising model.
We are also looking for other important problems and applications that GSE can be incorpora

[2022-10-12 13:44] diemilio commented on #12
[qamp2022-checkpoint01-des.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9765394/qamp2022-checkpoint01-des.pdf)

[2022-10-13 13:12] VasilyBokov commented on #9
[Quantum kernels. QAMP - 1.pptx](https://github.com/qiskit-advocate/qamp-fall-22/files/9777028/Quantum.kernels.QAMP.-.1.pptx)
[https://docs.google.com/presentation/d/1PJxXP3Bcuj5ayPI4OvyZvsqVpZIAeyvPWTY4ZD_YfO0/edit?usp=sharing](url)

@GemmaDawson  Hello, Gemma! Sorry for the delay. I attached the file.

[2022-10-13 13:40] GemmaDawson commented on #9
@VasilyBokov - thank you!  FYI: the first PPTX link works but unfortunately, the Google Doc link does not work.

[2022-10-13 14:02] orielkiss commented on #3
Material for check point 1
[VD.pptx](https://github.com/qiskit-advocate/qamp-fall-22/files/9777442/VD.pptx)

[2022-10-15 08:20] HindeDS commented on #6
@GemmaDawson

[2022-10-15 13:29] nathanearnestnoble commented on #39
[QAMP Qutrits - Checkpoint 1 - Full.pptx](https://github.com/qiskit-advocate/qamp-fall-22/files/9792171/QAMP.Qutrits.-.Checkpoint.1.-.Full.pptx)

[2022-10-16 14:13] born-2learn commented on #13
[QAMP Shadow Phases - Checkpoint 1 - Syed Farhan.pptx](https://github.com/qiskit-advocate/qamp-fall-22/files/9794806/QAMP.Shadow.Phases.-.Checkpoint.1.-.Syed.Farhan.pptx)

[2022-10-20 05:02] SanyaNanda commented on #8
## Pull Requests
PR1 (Tutorial 1): Qiskit/qiskit-machine-learning#473
PR2 (Tutorial 2 and 2a): Qiskit/qiskit-machine-learning#491
PR3 (Tutorial 5): https://github.com/Qiskit/qiskit-machine-learning/pull/502

[2022-10-21 13:06] Stoick commented on #39
I am not in this class wrong email

On Fri, Oct 21, 2022 at 2:23 AM Gemma Dawson ***@***.***>
wrote:

[2022-10-31 13:58] SanyaNanda commented on #8
##  Checkpoint 2

## Progress:
Tutorial 1, 2, 2a and 5 have been improved as per the work methodology. The PRs for the same can be found in the comment above.

## Work Methodology:
To enhance the documentation of Qiskit Machine Learning, the guidelines of the Divio/Diátaxis framework of documentation are being followed which categorises documentation in the following 4 blocks:

<img src="https://d

[2022-11-01 10:02] archanaravindar commented on #30
Checkpoint2:

Progress so far on integrating MQTbench to red queen
Picked Amplitude estimation test as a proof of concept test and was able to create similar test files using red queen framework and run the test
Simplifications assumed: circuit created in .qasm, no fidelity comparisons
![4B45340D-0405-4E48-9796-A5D4AC6B6F71](https://user-images.githubusercontent.com/13232668/199208711-2a7e3ebc-714

[2022-11-02 03:54] gprs1809 commented on #27
**Checkpoint 2**

After understanding ZX Calculus from [the main paper](https://arxiv.org/pdf/2012.13966.pdf), we dived deeper into [pyZX](https://pyzx.readthedocs.io/en/latest/). We have implemented the part of our project that involves converting ZX-diagrams into Qiskit DAG circuits.

pyZX offers a Graph API and a Circuit API. We observe 2 cases most relevant for us and these cases are also more

[2022-11-02 12:01] kvcmarshall6 commented on #38
**Checkpoint 2 Update**

Since Checkpoint 1, the team has worked together to build various visual representations of quantum circuits and quantum states, as well as think about how and where to display our outputs. Our key areas of focus have included:

- Exploring how to display our fractal representations e.g. at a children’ science exhibition:
Our team held a brainstorming workshop to decide th

[2022-11-02 12:01] kvcmarshall6 commented on #38
For some of the media to be seen correctly please open the attached Word doc:
[Checkpoint 2.docx](https://github.com/qiskit-advocate/qamp-fall-22/files/9920102/Checkpoint.2.docx)

[2022-11-02 12:02] kvcmarshall6 commented on #38
Our visual representation of our project so far is seen below!

<img width="333" alt="image" src="https://user-images.githubusercontent.com/35499788/199485006-8653388b-fdb6-43c1-ab2e-34034f6a07f7.png">

<img width="315" alt="image" src="https://user-images.githubusercontent.com/35499788/199484981-9cc9a85c-2db8-4076-84f3-b4b9022b4942.png">

[2022-11-02 14:18] bicycle315 commented on #5
Checkpoint 2:
[checkpoint2.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9921151/checkpoint2.pdf)
![image](https://user-images.githubusercontent.com/56623045/199736870-110ad0fe-128c-4588-bd3d-ed661460a1d4.png)

[2022-11-02 16:13] dhruvbhq commented on #15
[QAMP15_checkpoint2.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9922188/QAMP15_checkpoint2.pdf)
Hi @GemmaDawson , here is our report for QAMP checkpoint-2.

[2022-11-02 19:26] Tim-Li commented on #6
QAMP Fall 2022 – Cheek Point 2 – Description

The main target of this Project is to diagnose neurodegenerative disease. So, we focused on the second Checkpoint in diagnosing Autism. Autism Spectrum Disorder (ASD) affects approximately 1% of the population, causes social impairment, and is associated with lifelong disability. The lack of effective means of diagnosing ASD was attributed to the bread

[2022-11-02 19:27] Tim-Li commented on #6
[IBM_QAMP_fall_22_checkpoint2.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9923553/IBM_QAMP_fall_22_checkpoint2.pdf)

[2022-11-02 19:34] AshwinKul28 commented on #25
**Checkpoint 2 Update**

- We have finalized the scope for our APIs, the core functionalities, and requirements as well.
- The behavior of our APIs should be simpler and it should focus on the basic tasks regarding the questions lifecycle.
- Every question in an assignment can be one of the following two types

       1. MCQ based

<img width="1792" alt="Screenshot 2022-11-03 at 12 39 42 AM" src="

[2022-11-02 21:51] gideonuchehara commented on #4
Hello @GemmaDawson, please find attached our checkpoint 2 material. The short update and a visual representation of our project are contained in the attached pdf file. The link to the repo is [here](https://github.com/ibm-q-collaboration/qamp-generalized-measurements/tree/master/checkpoint_02). Thanks
[Implementing_generalized_measurements_with_mid_circuit_measurements.pdf](https://github.com/qisk

[2022-11-03 00:45] robertloredo commented on #6
This is great Team!!

The PDF captures everything nicely. Have you posted the code for the various components? This will help us get two things started:
1. Publication draft to either Qiskit Textbook or Blog
2. Prepare for next phase, interconnectivity towards multi-modality and/or toolbox.

Let's sync up next week and discuss after I get back from conference.

Great job! Really incredible progres

[2022-11-03 02:31] jvscursulim commented on #6
Here is the link for my GitHub repository where you all can find the implementations for NEQR, FRQI and QPIE circuits. There are also some notebooks about quantum transfer learning, QCNN and other machine learning stuff that can be useful for our project.

https://github.com/jvscursulim/qamp_fall22_project

[2022-11-03 02:35] Tim-Li commented on #6
We are still working on 3D QCNN and 3D QTL(hybrid). After that, we will work on 3D QNN. We will write a draft when we finish all the parts.

[2022-11-03 02:51] robertloredo commented on #6
Fantastic! Thank you John!

[2022-11-03 07:40] GemmaDawson commented on #5
@bicycle315 - thank you for the report.  Please do not forget that you need to add an image as well.

[2022-11-03 08:16] derwind commented on #23
# Checkpoint 2

## Review of Checkpoint 1

Review briefly what we have accomplished up to checkpoint 1.

- [x] Investigated the initialization sequence in `AerStatevector`.
- [x] Investigated the state transitions of the inner class `AerState`.

## Tasks and progress

Remaining tasks and progress to this point are listed below. Checked areas are those that are complete or nearly complete:

- [ ] I

[2022-11-03 08:19] Dran-Z commented on #2
For Checkpoint-2: Please see the [brief report](https://github.com/Dran-Z/QAMP2022-MILP-solver/blob/main/QAMP-Checkpoint-2.pdf) and the [figure](https://github.com/Dran-Z/QAMP2022-MILP-solver/blob/main/QAMP-Checkpoint-2.png)

[2022-11-03 09:20] Gaya3-mv commented on #35
## Checkpoint 2:
### Project #35
In this project, we aim to study the evolution of an open quantum system using reinforcement learning (RL) for the non-unitary part. As a first step towards working with RL on an environment involving a quantum circuit, we are trying to reproduce the results of a study [^1] done to perform quantum error correction using RL techniques. Here, we are using a Qiskit Qu

[2022-11-03 09:28] ritu-thombre99 commented on #29
# Checkpoint 2 update

[Mathematical framework](https://github.com/ritu-thombre99/QNim) for QNim was completed for checkpoint 1, which included strategy development for quantum computer to play game of Nim against a human or a classical computer. A basic prototype UI using Kivy framework in python was also developed for QNim during checkpoint. Kivy framework is discontinued as it has very limited

[2022-11-03 09:40] ritu-thombre99 commented on #29
# Visual representation

Mathematical framework:
![mathematical framework](https://user-images.githubusercontent.com/42207923/199697755-f5f9b020-bd62-4a5a-a355-d35a8a0044ab.png)

Experiment results:
![final_with_label](https://user-images.githubusercontent.com/42207923/199698223-96e88e55-06c4-470d-aaa2-216889f4010b.png)

## Gameplay video - [https://youtu.be/vqE8HICiBqA](https://youtu.be/vqE8HICiB

[2022-11-03 11:05] HaEumKim commented on #32
### Checkpoint 2

We have found and fixed the bug of our issue loosely. The main strategy we used is adding function "_attempt_bind" from "template_substitution.py" at step where "forward_matching.py" compairs gate of the circuit and template are same or not. This figure shows our code :
![image](https://user-images.githubusercontent.com/105047156/199703479-03df5b8f-c9df-4a20-8a90-d5a0f76729c2.png

[2022-11-03 11:26] smendoncabruna commented on #14
## Checkpoint 2 🏁

*Bruna Shinohara de Mendonça, November 1st, 2022.*

- **Related issue:** [Longform Content for the Qiskit Blog](https://github.com/qiskit-advocate/qamp-fall-22/issues/14).
- **Progress**

    Along with my mentor, we held weekly meetings to:

    - delimit possible writing subjects for the qiskit medium articles;
    - chose the first theme: Write about a recent manuscript from

[2022-11-03 12:35] tula3and commented on #26
The 2nd checkpoint:

Our main challenge is to make a 2-player mode for QPong. This 2-player mode will be based on a server to match 2 people online. We determined to use Python as a server and there will be a HTML file for the frontend. After the server file is ready, we also have a plan to deploy the server on the cloud so everyone can enjoy to play it!

There are several versions of QPong and we

[2022-11-03 12:35] tula3and commented on #26
![qpong2_0](https://user-images.githubusercontent.com/62553200/199721804-57bf8375-c847-4726-a324-c2c079d30a11.png)

[2022-11-03 12:35] tula3and commented on #26
![qpong2_0_simple](https://user-images.githubusercontent.com/62553200/199721846-1efb4c37-f629-41dc-9058-e48f90a40c4b.png)

[2022-11-03 12:50] Qcatty commented on #6
Hey @GemmaDawson

[2022-11-03 12:55] Seungwook-Woo commented on #19
Checkpoint 2 update

Add ladder graph generator and test unit

I have studied the Rust-lang and submitted a PR Qiskit/rustworkx#705 for the ladder graph generator.
I plan to resolve some conflicts in the PR and contribute to Rustworkx in another issue.

An example of the ladder graph
![ladder_graph](https://user-images.githubusercontent.com/78723913/199725925-28cd9987-1739-4185-963a-f72a074d366e.p

[2022-11-03 13:47] orielkiss commented on #3
[QAMP_22_VD.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9929695/QAMP_22_VD.pdf)
Here is the report and one figure summarizing the main results obtained at this stage @GemmaDawson

[2022-11-03 13:57] GemmaDawson commented on #5
Thank you @bicycle315

[2022-11-03 14:08] hamzakamel1 commented on #6
[FMRI project Check point 1.pptx.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9929895/FMRI.project.Check.point.1.pptx.pdf)
[IBM_QAMP_fall_22_checkpoint2.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9929896/IBM_QAMP_fall_22_checkpoint2.pdf)
[QAMP check point 2 - Description .pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9929902/QAMP.check.point.2.-.Descripti

[2022-11-03 14:08] hamzakamel1 commented on #6
Hey @GemmaDawson

[2022-11-03 14:22] AntonSimen06 commented on #28
## Checkpoint 2: Progress

### **Tutorial**
A tutorial on how to use Qiskit to design tensor networks quantum circuits and apply them, as meta-ansatz, in supervised learning quantum models for multi-classification is being written. So far, explanations have been made on how to represent Matrix Product State (MPS) and Tensor Tree Networks (TTN) as quantum circuits and the application phase of these

[2022-11-03 14:31] Mostafa-Atallah2020 commented on #31
# Checkpoint 2

## Finished work

We solved the one-dimensional heat equation in [1] using the Variational Quantum Linear Slover (VQLS) with qiskit. We used the global cost function approach defined in [2]. We improved the overlap between the output solution and the exact solution from 0.737 on a simulator to 0.999 on a simulator and 0.868 on a noisy simulator by choosing the Classical Optimizer C

[2022-11-03 14:31] GemmaDawson commented on #28
@AntonSimen06, please do not forget to add a visual/image

[2022-11-03 14:46] AntonSimen06 commented on #28
We are on it. Thanks!

[2022-11-03 15:34] VasilyBokov commented on #9
The general idea of our project is to harness quantum computing for kernel calculation problems. The most natural way of using kernels is a classification problem, in particular SVM. Qiskit already has some tutorials on this topic and the general objective here is to extend and deepen those materials.
We started the journey with the investigation main concepts of kernel calculations on a quantum c

[2022-11-03 17:11] nelimee commented on #16
[Checkpoint2_#16.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9931501/Checkpoint2_.16.pdf)
![Checkpoint2_#16-image.png](https://user-images.githubusercontent.com/12374487/204776399-03647a38-1021-408f-962b-00aef262e2fc.png)

[2022-11-03 17:32] BOBO1997 commented on #33
###  [Short Report for Checkpoint 2]
Our goal is to implement an error mitigation method called “Generalized Subspace Expansion (GSE)” and test its performance on both the simulators and real IBM Quantum backends.
This method is suitable for getting a better ground state in variational quantum algorithms for a given Hamiltonian.
Before using a fancy physical model, we tested the mitigation perform

[2022-11-03 17:54] jayakumarksrit commented on #21
### Check point 2:

In this project work, main objective is developing tutorials for Quantum Machine Learning (QML). To accomplish this, our team trying to create tutorials in the forms of interactive notebook, blog, video and paper. So, we try to compare Support Vector Machine (SVM) concept both in classical version as well as quantum version. For the first checkpoint, we laid roadmap to achieve

[2022-11-03 17:58] jayakumarksrit commented on #21
### Visualization Part
[Visualization part.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9931869/Visualization.part.pdf)

[2022-11-03 20:30] saktar-lanl commented on #10
Expressibility of parameterized quantum circuits (PQCs) determines the ability to generate or explore states in the Hilbert space. The goal of this project is to implement an efficient way of measuring the expressibility of PQCs. In [1], expressibility is defined as the KL divergence [2] between estimated fidelity distribution and probability distribution from Haar-random unitary.

$Expr = D_{KL}

[2022-11-03 21:41] pdc-quantum commented on #20
![qamp-fall-22-qml-cardiology-application](https://user-images.githubusercontent.com/29145045/206029597-4abe7c43-2379-43cd-ab2f-eda9132a90f5.png)

[2022-11-03 22:38] sumit-kale commented on #1
Checkpoint#2

We worked on the mathematical definition of the gate and wrote the code for its implementation. We introduced a new class GlobalPhaseGate which creates a global phase (gphase) gate (e^{i\theta}) given the phase value theta. We are testing the code and will soon submit a PR.

A visual representation of the project is attached

![Image](https://user-images.githubusercontent.com/3522889

[2022-11-04 00:15] diemilio commented on #12
**Checkpoint 2** update:

Up until **checkpoint 1**, we had defined the project scope and its deliverables. Since then, we have made great progress including the following items:

1. Defined a multi-layer design to serve as a benchmark to debug during the development of the updated code. This included putting together the 3D geometry and performing the FEA simulation in COMSOL to have results to c

[2022-11-04 00:22] AbeerVaishnav13 commented on #12
Great work @diemilio !! 🎉

[2022-11-04 04:56] dsierrasosa commented on #20
In this Qiskit Advocate Mentorship Project we have been working on applying Quantum Machine Learning (QML) techniques to Cardiology. We have been exploring different techniques for both images and tabular data, in the imaging portion of the project we are predicting Cardiomegaly on X-ray images, and on the tabular data we are predicting Coronary artery disease using 11 clinical features. For the e

[2022-11-04 08:41] pemmaras commented on #34
Checkpoint-2
[Project-34-Checkpoint-2.pdf](https://github.com/qiskit-advocate/qamp-fall-22/files/9936473/Project-34-Checkpoint-2.pdf)
![1-4-1-DQNN-schematic](https://user-images.githubusercontent.com/83732883/199929710-10de5274-233e-4f86-ad31-b1efccf51b20.jpg)

[2022-11-05 14:08] SanyaNanda commented on #8
## Pull Requests

PR4 (Tutorial 3): https://github.com/Qiskit/qiskit-machine-learning/pull/515 (MERGED)
PR5 (Tutorial 8): https://github.com/Qiskit/qiskit-machine-learning/pull/519
PR6 (Tutorial 7): https://github.com/Qiskit/qiskit-machine-learning/pull/522
PR7 (Tutorial 9): https://github.com/Qiskit/qiskit-machine-learning/pull/530
PR8 (Tutorial 1-redo): https://github.com/Qiskit/qiskit-machine-l

[2022-11-06 10:58] Siddharthgolecha commented on #26
The 2nd checkpoint:

One of our features was to implement noise bombs. Noise bombs are collectibles players can throw on opponents to introduce different kinds of noise in their Quantum circuits. We have decided on 4 types of bombs till now,

1. **Cosmic Bomb**: These bombs represent noise introduced by cosmic rays and their impact on quantum circuits. Cosmic rays are invisible, microscopic partic

[2022-11-06 17:31] Faujdar commented on #24
![IMG_20221106_230042](https://user-images.githubusercontent.com/37533715/200185740-cc7df630-3971-4113-a7c9-66adca7f5ae7.jpg)

[2022-11-09 05:51] GemmaDawson commented on #16
@nelimee you still need to upload your image.

[2022-11-14 02:19] born-2learn commented on #39
**Written Project Update:** from @born-2learn @scottoshiro2 @tinyRickk

**Qutrit/Qudit Noise modeling & Simulations in Qiskit:**
Understood the program execution flow of the NoiseModel class and the realization of different errors, thermal relaxation error being one of them. Recreated the Choi matrix and Kraus representation of the Quantum channel in the Qiskit-qudits package created by us. Next s

[2022-11-15 04:24] prakharb10 commented on #19
Apologies for the delay. I've been extra busy with school and other work. My contributions in this phase have been less than the first four weeks, mainly due to the above reasons. My semester ends soon, and I plan to work full-time for the rest of the project.

---
I added two graph generators - complete and empty (https://github.com/Qiskit/rustworkx/pull/679). This is part of the more significant

[2022-11-18 06:50] born-2learn commented on #13
**Current Update:** A Two-Qubit Hamiltonian was constructed representing H2-molecule at its equilibrium distance. The ground state energy was obtained by both diagonalizing the matrix and also by the VQE experiment. Classical shadows were then obtained by consecutively applying random unitaries and then measuring them in X, Y and Z bases. The machine learning model given in https://arxiv.org/abs/2

[2022-11-18 06:51] born-2learn commented on #13
@GemmaDawson @HuangJunye Please find the written update and image in the above comment. Thanks!

[2022-11-18 06:57] hamzakamel1 commented on #6
@GemmaDawson